# 📌 Extracción

In [320]:
#Instalaciones
'''Se instaló a través de la terminal
pip install seaborn'''

'Se instaló a través de la terminal\npip install seaborn'

In [321]:
#Importando las librerías necesarias

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## Extracción de datos

In [322]:
#Importando los datos a partir de la api
pd.set_option('display.max_columns',None)
df_json_telecomx = pd.read_json('https://raw.githubusercontent.com/ingridcristh/challenge2-data-science-LATAM/main/TelecomX_Data.json')

In [323]:
#Echamos un vistazo al JSON
df_json_telecomx.head(3)

,customerID,Churn,customer,phone,internet,account
0,0002-ORFBO,No,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'One year', 'PaperlessBilling': '..."
1,0003-MKNFE,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
2,0004-TLHLJ,Yes,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."

In [324]:
#Normalizamos las columnas que lo requieren
cliente = pd.json_normalize(df_json_telecomx['customer'])
telefono = pd.json_normalize(df_json_telecomx['phone'])
internet = pd.json_normalize(df_json_telecomx['internet'])
cuenta = pd.json_normalize(df_json_telecomx['account'])
clienteid = df_json_telecomx['customerID']
cancelacion = df_json_telecomx['Churn']

In [325]:
#Concatenando los datos normalizados
df_telecomx = pd.concat([clienteid, cancelacion, cliente, telefono, internet, cuenta], axis=1)

In [326]:
#Verificación de los datos normalizados
df_telecomx.head(5)

,customerID,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total
0,0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,DSL,No,Yes,No,Yes,Yes,No,One year,Yes,Mailed check,65.6,593.3
1,0003-MKNFE,No,Male,0,No,No,9,Yes,Yes,DSL,No,No,No,No,No,Yes,Month-to-month,No,Mailed check,59.9,542.4
2,0004-TLHLJ,Yes,Male,0,No,No,4,Yes,No,Fiber optic,No,No,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.9,280.85
3,0011-IGKFF,Yes,Male,1,Yes,No,13,Yes,No,Fiber optic,No,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.0,1237.85
4,0013-EXCHZ,Yes,Female,1,Yes,No,3,Yes,No,Fiber optic,No,No,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.9,267.4

## Conociendo el conjunto de datos

In [327]:
#Analizando los tipos de datos del json
df_telecomx.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7267 non-null   object
 1   Churn             7267 non-null   object
 2   gender            7267 non-null   object
 3   SeniorCitizen     7267 non-null   int64
 4   Partner           7267 non-null   object
 5   Dependents        7267 non-null   object
 6   tenure            7267 non-null   int64
 7   PhoneService      7267 non-null   object
 8   MultipleLines     7267 non-null   object
 9   InternetService   7267 non-null   object
 10  OnlineSecurity    7267 non-null   object
 11  OnlineBackup      7267 non-null   object
 12  DeviceProtection  7267 non-null   object
 13  TechSupport       7267 non-null   object
 14  StreamingTV       7267 non-null   object
 15  StreamingMovies   7267 non-null   object
 16  Contract          7267 non-null   object
 17  PaperlessBilling  7267 non-null   object
 18  PaymentMethod     7267 non-null   object
 19  Charges.Monthly   7267 non-null   float64
 20  Charges.Total     7267 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.2+ MB

## Comprobación de incoherencias en los datos

In [328]:
# Comprobar la existencia de registros duplicados
datos_duplicados = df_telecomx[df_telecomx.duplicated()]
datos_duplicados

Empty DataFrame
Columns: [customerID, Churn, gender, SeniorCitizen, Partner, Dependents, tenure, PhoneService, MultipleLines, InternetService, OnlineSecurity, OnlineBackup, DeviceProtection, TechSupport, StreamingTV, StreamingMovies, Contract, PaperlessBilling, PaymentMethod, Charges.Monthly, Charges.Total]
Index: []

In [329]:
print(pd.unique(df_telecomx['Churn']))
print(pd.unique(df_telecomx['SeniorCitizen']))
print(pd.unique(df_telecomx['Partner']))
print(pd.unique(df_telecomx['Dependents']))
print(pd.unique(df_telecomx['PhoneService']))
print(pd.unique(df_telecomx['MultipleLines']))
print(pd.unique(df_telecomx['OnlineSecurity']))
print(pd.unique(df_telecomx['OnlineBackup']))
print(pd.unique(df_telecomx['DeviceProtection']))
print(pd.unique(df_telecomx['TechSupport']))
print(pd.unique(df_telecomx['StreamingTV']))
print(pd.unique(df_telecomx['StreamingMovies']))
print(pd.unique(df_telecomx['PaperlessBilling']))

['No' 'Yes' '']
[0 1]
['Yes' 'No']
['Yes' 'No']
['Yes' 'No']
['No' 'Yes' 'No phone service']
['No' 'Yes' 'No internet service']
['Yes' 'No' 'No internet service']
['No' 'Yes' 'No internet service']
['Yes' 'No' 'No internet service']
['Yes' 'No' 'No internet service']
['No' 'Yes' 'No internet service']
['Yes' 'No']

### Inconsistencias encontradas:
1) Valores vacíos en la columna 'Churn'
2) 'SeniorCitizen' fue manejado con valores enteros, mientras que el resto de columnas con "Si" y "No", son cadenas.
3) No hay registros duplicados
4) 'Charges.Total' debería ser un 'float', no 'object'.
5) Se puede traducir al español para  mejor comprensión del dataset

# 🔧 Transformación

## Manejo de inconsistencias

### 1) Valores vacíos en la columna 'Churn'

In [330]:
#Cambiando las cadenas vacías en la columna 'Churn' por nan
df_telecomx['Churn'] = df_telecomx['Churn'].replace('',np.nan)

In [331]:
#Eliminando los registros sin valor en Churn (Es el dato principal a analizar para este caso)
df_telecomx = df_telecomx.dropna()

In [332]:
#Comprobando los valores existentes para la columna 'Churn'
pd.unique(df_telecomx['Churn'])

array(['No', 'Yes'], dtype=object)

In [333]:
#Comprobando el tamaño del dataframe
df_telecomx.shape

(7043, 21)

### 2) 'SeniorCitizen' fue manejado con valores booleanos, mientras que el resto de columnas con "Si" y "No", son cadenas.

Decidí que para manejar las inconsistencias en el punto 2, lo más conveniente (para análisis de datos), era estandarizar los demás campos que venían como "Yes" y "No" en int

In [334]:
#Definimos las columnas donde vamos a convertir los 'Yes' y 'No' en 1 y 0
columnas_yn = ['Churn',
'SeniorCitizen',
'Partner',
'Dependents',
'PhoneService',
'MultipleLines',
'OnlineSecurity',
'OnlineBackup',
'DeviceProtection',
'TechSupport',
'StreamingTV',
'StreamingMovies',
'PaperlessBilling']

In [335]:
#Creamos una función para cambiar sus valores de 'Si' a 1 y de 'No' a 0.
for columna in columnas_yn:
    df_telecomx[columna] = [1 if x == 'Yes' or x == 1 else (0 if x == 'No' or x == 0 else 2) for x in df_telecomx[columna]]

# Verificación
for columna in columnas_yn:
    print(f"{columna}: {df_telecomx[columna].unique()}")

Churn: [0 1]
SeniorCitizen: [0 1]
Partner: [1 0]
Dependents: [1 0]
PhoneService: [1 0]
MultipleLines: [0 1 2]
OnlineSecurity: [0 1 2]
OnlineBackup: [1 0 2]
DeviceProtection: [0 1 2]
TechSupport: [1 0 2]
StreamingTV: [1 0 2]
StreamingMovies: [0 1 2]
PaperlessBilling: [1 0]

In [336]:
#El campo de género de los clientes está en inglés, lo traducimos al español
#df_telecomx['gender'] = ['Masculino' if x == 'Male' 'Femenino' elif x == 'Female' for x in df_telecomx['gender']]

In [337]:
#Comprobando diferentes resultados de la columna 'gender'
df_telecomx['gender'].unique()

array(['Female', 'Male'], dtype=object)

In [338]:
#Traduciendo la columna 'gender'
df_telecomx['gender'] = ['Masculino' if x == 'Male' else 'Femenino' for x in df_telecomx['gender']]

In [339]:
#Verificando los cambios
df_telecomx['gender'].unique()

array(['Femenino', 'Masculino'], dtype=object)

In [340]:
#Revisando los posibles valore de columnas que también se encuentran en inglés
print(df_telecomx['InternetService'].unique())
print(df_telecomx['Contract'].unique())
print(df_telecomx['PaymentMethod'].unique())

['DSL' 'Fiber optic' 'No']
['One year' 'Month-to-month' 'Two year']
['Mailed check' 'Electronic check' 'Credit card (automatic)'
 'Bank transfer (automatic)']

In [341]:
#Traduciendo estas columnas
df_telecomx['InternetService'] = df_telecomx['InternetService'].map({'DSL': 'DSL', 'Fiber optic': 'Fibra óptica', 'No':'No'})
df_telecomx['Contract'] = df_telecomx['Contract'].map({'One year': 'Anual', 'Month-to-month': 'Mensual', 'Two year': 'Bienal'})
df_telecomx['PaymentMethod'] = df_telecomx['PaymentMethod'].map({'Mailed check': 'Cheque', 'Electronic check': 'Cheque electrónico', 'Credit card (automatic)':'TDC',
 'Bank transfer (automatic)':'Tranferencia electrónica'})

In [342]:
#Verificamos el dataframe
df_telecomx.head(3)

,customerID,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total
0,0002-ORFBO,0,Femenino,0,1,1,9,1,0,DSL,0,1,0,1,1,0,Anual,1,Cheque,65.6,593.3
1,0003-MKNFE,0,Masculino,0,0,0,9,1,1,DSL,0,0,0,0,0,1,Mensual,0,Cheque,59.9,542.4
2,0004-TLHLJ,1,Masculino,0,0,0,4,1,0,Fibra óptica,0,0,1,0,0,0,Mensual,1,Cheque electrónico,73.9,280.85

In [343]:
#Definimos las columnas que vamos a convertir en int
columnas_a_int = ['Churn',
'SeniorCitizen',
'Partner',
'Dependents',
'PhoneService',
'MultipleLines',
'OnlineSecurity',
'OnlineBackup',
'DeviceProtection',
'TechSupport',
'StreamingTV',
'StreamingMovies',
'PaperlessBilling']

In [344]:
#Verificando el tipo de valores en las columnas
for x in columnas_a_int:
    print(df_telecomx[x].dtype)

int64
int64
int64
int64
int64
int64
int64
int64
int64
int64
int64
int64
int64

### 4) 'Charges.Total' debería ser un 'float', no 'object'.

In [345]:
#Convirtiendo 'Charges.Total' a float
df_telecomx['Charges.Total'] = pd.to_numeric(df_telecomx['Charges.Total'], errors='coerce')

In [346]:
#Verificando el tipo de dato en 'Charges.Total'
df_telecomx['Charges.Total'].dtype

dtype('float64')

### 5) Se puede traducir al español para  mejor comprensión del dataset

In [347]:
#Creando diccionario para traducir los encabezados de las columnas

df_telecomx.rename(columns={
    "customerID": "id_cliente",
    "Churn": "cancelacion",
    "gender": "genero",
    "SeniorCitizen": "adulto_mayor",
    "Partner": "tiene_pareja",
    "Dependents": "tiene_dependientes",
    "tenure": "antiguedad",
    "PhoneService": "servicio_de_telefono",
    "MultipleLines": "lineas_multiples",
    "InternetService": "servicio_internet",
    "OnlineSecurity": "seguridad_en_linea",
    "OnlineBackup": "respaldo_en_linea",
    "DeviceProtection": "proteccion_dispositivo",
    "TechSupport": "soporte_tecnico",
    "StreamingTV": "streaming_tv",
    "StreamingMovies": "streaming_peliculas",
    "Contract": "periodicidad_de_contrato",
    "PaperlessBilling": "factura_electronica",
    "PaymentMethod": "forma_de_pago",
    "Charges_Monthly": "cargos_mensuales",
    "Charges_Total": "cargos_totales",
}, inplace=True)

In [348]:
df_telecomx.head(3)

,id_cliente,cancelacion,genero,adulto_mayor,tiene_pareja,tiene_dependientes,antiguedad,servicio_de_telefono,lineas_multiples,servicio_internet,seguridad_en_linea,respaldo_en_linea,proteccion_dispositivo,soporte_tecnico,streaming_tv,streaming_peliculas,periodicidad_de_contrato,factura_electronica,forma_de_pago,Charges.Monthly,Charges.Total
0,0002-ORFBO,0,Femenino,0,1,1,9,1,0,DSL,0,1,0,1,1,0,Anual,1,Cheque,65.6,593.30
1,0003-MKNFE,0,Masculino,0,0,0,9,1,1,DSL,0,0,0,0,0,1,Mensual,0,Cheque,59.9,542.40
2,0004-TLHLJ,1,Masculino,0,0,0,4,1,0,Fibra óptica,0,0,1,0,0,0,Mensual,1,Cheque electrónico,73.9,280.85

## Columna de cuentas diarias

# 📊 Carga y análisis

# 📄Informe final