#  Extracci贸n

In [2]:
#Instalaciones
'''Se instal贸 a trav茅s de la terminal
pip install seaborn'''

'Se instal贸 a trav茅s de la terminal\npip install seaborn'

In [3]:
#Importando las librer铆as necesarias

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## Extracci贸n de datos

In [4]:
#Importando los datos a partir de la api
pd.set_option('display.max_columns',None)
df_json_telecomx = pd.read_json('https://raw.githubusercontent.com/ingridcristh/challenge2-data-science-LATAM/main/TelecomX_Data.json')

In [5]:
#Echamos un vistazo al JSON
df_json_telecomx.head(3)

,customerID,Churn,customer,phone,internet,account
0,0002-ORFBO,No,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'One year', 'PaperlessBilling': '..."
1,0003-MKNFE,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
2,0004-TLHLJ,Yes,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."

In [6]:
#Normalizamos las columnas que lo requieren
cliente = pd.json_normalize(df_json_telecomx['customer'])
telefono = pd.json_normalize(df_json_telecomx['phone'])
internet = pd.json_normalize(df_json_telecomx['internet'])
cuenta = pd.json_normalize(df_json_telecomx['account'])
clienteid = df_json_telecomx['customerID']
cancelacion = df_json_telecomx['Churn']

In [7]:
#Concatenando los datos normalizados
df_telecomx = pd.concat([clienteid, cancelacion, cliente, telefono, internet, cuenta], axis=1)

In [8]:
#Verificaci贸n de los datos normalizados
df_telecomx.head(5)

,customerID,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total
0,0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,DSL,No,Yes,No,Yes,Yes,No,One year,Yes,Mailed check,65.6,593.3
1,0003-MKNFE,No,Male,0,No,No,9,Yes,Yes,DSL,No,No,No,No,No,Yes,Month-to-month,No,Mailed check,59.9,542.4
2,0004-TLHLJ,Yes,Male,0,No,No,4,Yes,No,Fiber optic,No,No,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.9,280.85
3,0011-IGKFF,Yes,Male,1,Yes,No,13,Yes,No,Fiber optic,No,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.0,1237.85
4,0013-EXCHZ,Yes,Female,1,Yes,No,3,Yes,No,Fiber optic,No,No,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.9,267.4

## Conociendo el conjunto de datos

In [9]:
#Analizando los tipos de datos del json
df_telecomx.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7267 non-null   object
 1   Churn             7267 non-null   object
 2   gender            7267 non-null   object
 3   SeniorCitizen     7267 non-null   int64
 4   Partner           7267 non-null   object
 5   Dependents        7267 non-null   object
 6   tenure            7267 non-null   int64
 7   PhoneService      7267 non-null   object
 8   MultipleLines     7267 non-null   object
 9   InternetService   7267 non-null   object
 10  OnlineSecurity    7267 non-null   object
 11  OnlineBackup      7267 non-null   object
 12  DeviceProtection  7267 non-null   object
 13  TechSupport       7267 non-null   object
 14  StreamingTV       7267 non-null   object
 15  StreamingMovies   7267 non-null   object
 16  Contract          7267 non-null   object
 17  PaperlessBilling  7267 non-null   object
 18  PaymentMethod     7267 non-null   object
 19  Charges.Monthly   7267 non-null   float64
 20  Charges.Total     7267 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.2+ MB

## Comprobaci贸n de incoherencias en los datos

In [15]:
# Comprobar la existencia de registros duplicados
datos_duplicados = df_telecomx[df_telecomx.duplicated()]
datos_duplicados

Empty DataFrame
Columns: [customerID, Churn, gender, SeniorCitizen, Partner, Dependents, tenure, PhoneService, MultipleLines, InternetService, OnlineSecurity, OnlineBackup, DeviceProtection, TechSupport, StreamingTV, StreamingMovies, Contract, PaperlessBilling, PaymentMethod, Charges.Monthly, Charges.Total]
Index: []

In [ ]:
print(pd.unique(df_telecomx['Churn']))
print(pd.unique(df_telecomx['SeniorCitizen']))
print(pd.unique(df_telecomx['Partner']))
print(pd.unique(df_telecomx['Dependents']))
print(pd.unique(df_telecomx['PhoneService']))
print(pd.unique(df_telecomx['MultipleLines']))
print(pd.unique(df_telecomx['OnlineSecurity']))
print(pd.unique(df_telecomx['OnlineBackup']))
print(pd.unique(df_telecomx['DeviceProtection']))
print(pd.unique(df_telecomx['TechSupport']))
print(pd.unique(df_telecomx['StreamingTV']))
print(pd.unique(df_telecomx['StreamingMovies']))
print(pd.unique(df_telecomx['PaperlessBilling']))

['No' 'Yes' '']
[0 1]
['Yes' 'No']
['Yes' 'No']
['Yes' 'No']
['No' 'Yes' 'No phone service']
['No' 'Yes' 'No internet service']
['Yes' 'No' 'No internet service']
['No' 'Yes' 'No internet service']
['Yes' 'No' 'No internet service']
['Yes' 'No' 'No internet service']
['No' 'Yes' 'No internet service']
['Yes' 'No']

### Inconsistencias encontradas:
1) Valores vac铆os en la columna 'Churn'
2) 'SeniorCitizen' fue manejado con valores booleanos, mientras que el resto de columnas con "Si" y "No", son cadenas.
3) No hay registros duplicados
4) 'Charges.Total' deber铆a ser un 'float', no 'object'.
5) 'SeniorCitizen' deber铆a ser booleano y no 'int'
6) Se puede traducir al espa帽ol para  mejor comprensi贸n del dataset

#  Transformaci贸n

## Manejo de inconsistencias

### 1) Valores vac铆os en la columna 'Churn'

#  Carga y an谩lisis

#Informe final