#  Extracci贸n

In [351]:
#Instalaciones
'''Se instal贸 a trav茅s de la terminal
pip install seaborn'''

'Se instal贸 a trav茅s de la terminal\npip install seaborn'

In [352]:
#Importando las librer铆as necesarias

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## Extracci贸n de datos

In [353]:
#Importando los datos a partir de la api
pd.set_option('display.max_columns',None)
df_json_telecomx = pd.read_json('https://raw.githubusercontent.com/ingridcristh/challenge2-data-science-LATAM/main/TelecomX_Data.json')

In [354]:
#Echamos un vistazo al JSON
df_json_telecomx.head(3)

,customerID,Churn,customer,phone,internet,account
0,0002-ORFBO,No,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'One year', 'PaperlessBilling': '..."
1,0003-MKNFE,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
2,0004-TLHLJ,Yes,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."

In [355]:
#Normalizamos las columnas que lo requieren
cliente = pd.json_normalize(df_json_telecomx['customer'])
telefono = pd.json_normalize(df_json_telecomx['phone'])
internet = pd.json_normalize(df_json_telecomx['internet'])
cuenta = pd.json_normalize(df_json_telecomx['account'])
clienteid = df_json_telecomx['customerID']
cancelacion = df_json_telecomx['Churn']

In [356]:
#Concatenando los datos normalizados
df_telecomx = pd.concat([clienteid, cancelacion, cliente, telefono, internet, cuenta], axis=1)

In [357]:
#Verificaci贸n de los datos normalizados
df_telecomx.head(5)

,customerID,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total
0,0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,DSL,No,Yes,No,Yes,Yes,No,One year,Yes,Mailed check,65.6,593.3
1,0003-MKNFE,No,Male,0,No,No,9,Yes,Yes,DSL,No,No,No,No,No,Yes,Month-to-month,No,Mailed check,59.9,542.4
2,0004-TLHLJ,Yes,Male,0,No,No,4,Yes,No,Fiber optic,No,No,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.9,280.85
3,0011-IGKFF,Yes,Male,1,Yes,No,13,Yes,No,Fiber optic,No,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.0,1237.85
4,0013-EXCHZ,Yes,Female,1,Yes,No,3,Yes,No,Fiber optic,No,No,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.9,267.4

## Conociendo el conjunto de datos

In [358]:
#Analizando los tipos de datos del json
df_telecomx.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7267 non-null   object
 1   Churn             7267 non-null   object
 2   gender            7267 non-null   object
 3   SeniorCitizen     7267 non-null   int64
 4   Partner           7267 non-null   object
 5   Dependents        7267 non-null   object
 6   tenure            7267 non-null   int64
 7   PhoneService      7267 non-null   object
 8   MultipleLines     7267 non-null   object
 9   InternetService   7267 non-null   object
 10  OnlineSecurity    7267 non-null   object
 11  OnlineBackup      7267 non-null   object
 12  DeviceProtection  7267 non-null   object
 13  TechSupport       7267 non-null   object
 14  StreamingTV       7267 non-null   object
 15  StreamingMovies   7267 non-null   object
 16  Contract          7267 non-null   object
 17  PaperlessBilling  7267 non-null   object
 18  PaymentMethod     7267 non-null   object
 19  Charges.Monthly   7267 non-null   float64
 20  Charges.Total     7267 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.2+ MB

## Comprobaci贸n de incoherencias en los datos

In [359]:
# Comprobar la existencia de registros duplicados
datos_duplicados = df_telecomx[df_telecomx.duplicated()]
datos_duplicados

Empty DataFrame
Columns: [customerID, Churn, gender, SeniorCitizen, Partner, Dependents, tenure, PhoneService, MultipleLines, InternetService, OnlineSecurity, OnlineBackup, DeviceProtection, TechSupport, StreamingTV, StreamingMovies, Contract, PaperlessBilling, PaymentMethod, Charges.Monthly, Charges.Total]
Index: []

In [360]:
print(pd.unique(df_telecomx['Churn']))
print(pd.unique(df_telecomx['SeniorCitizen']))
print(pd.unique(df_telecomx['Partner']))
print(pd.unique(df_telecomx['Dependents']))
print(pd.unique(df_telecomx['PhoneService']))
print(pd.unique(df_telecomx['MultipleLines']))
print(pd.unique(df_telecomx['OnlineSecurity']))
print(pd.unique(df_telecomx['OnlineBackup']))
print(pd.unique(df_telecomx['DeviceProtection']))
print(pd.unique(df_telecomx['TechSupport']))
print(pd.unique(df_telecomx['StreamingTV']))
print(pd.unique(df_telecomx['StreamingMovies']))
print(pd.unique(df_telecomx['PaperlessBilling']))

['No' 'Yes' '']
[0 1]
['Yes' 'No']
['Yes' 'No']
['Yes' 'No']
['No' 'Yes' 'No phone service']
['No' 'Yes' 'No internet service']
['Yes' 'No' 'No internet service']
['No' 'Yes' 'No internet service']
['Yes' 'No' 'No internet service']
['Yes' 'No' 'No internet service']
['No' 'Yes' 'No internet service']
['Yes' 'No']

### Inconsistencias encontradas:
1) Valores vac铆os en la columna 'Churn'
2) 'SeniorCitizen' fue manejado con valores enteros, mientras que el resto de columnas con "Si" y "No", son cadenas.
3) No hay registros duplicados
4) 'Charges.Total' deber铆a ser un 'float', no 'object'.
5) Se puede traducir al espa帽ol para  mejor comprensi贸n del dataset

#  Transformaci贸n

## Manejo de inconsistencias

### 1) Valores vac铆os en la columna 'Churn'

In [361]:
#Cambiando las cadenas vac铆as en la columna 'Churn' por nan
df_telecomx['Churn'] = df_telecomx['Churn'].replace('',np.nan)

In [362]:
#Eliminando los registros sin valor en Churn (Es el dato principal a analizar para este caso)
df_telecomx = df_telecomx.dropna()

In [363]:
#Comprobando los valores existentes para la columna 'Churn'
pd.unique(df_telecomx['Churn'])

array(['No', 'Yes'], dtype=object)

In [364]:
#Comprobando el tama帽o del dataframe
df_telecomx.shape

(7043, 21)

### 2) 'SeniorCitizen' fue manejado con valores booleanos, mientras que el resto de columnas con "Si" y "No", son cadenas.

Decid铆 que para manejar las inconsistencias en el punto 2, lo m谩s conveniente (para an谩lisis de datos), era estandarizar los dem谩s campos que ven铆an como "Yes" y "No" en int

In [365]:
#Definimos las columnas donde vamos a convertir los 'Yes' y 'No' en 1 y 0
columnas_yn = ['Churn',
'SeniorCitizen',
'Partner',
'Dependents',
'PhoneService',
'MultipleLines',
'OnlineSecurity',
'OnlineBackup',
'DeviceProtection',
'TechSupport',
'StreamingTV',
'StreamingMovies',
'PaperlessBilling']

In [366]:
#Creamos una funci贸n para cambiar sus valores de 'Si' a 1 y de 'No' a 0.
for columna in columnas_yn:
    df_telecomx[columna] = [1 if x == 'Yes' or x == 1 else (0 if x == 'No' or x == 0 else 2) for x in df_telecomx[columna]]

# Verificaci贸n
for columna in columnas_yn:
    print(f"{columna}: {df_telecomx[columna].unique()}")

Churn: [0 1]
SeniorCitizen: [0 1]
Partner: [1 0]
Dependents: [1 0]
PhoneService: [1 0]
MultipleLines: [0 1 2]
OnlineSecurity: [0 1 2]
OnlineBackup: [1 0 2]
DeviceProtection: [0 1 2]
TechSupport: [1 0 2]
StreamingTV: [1 0 2]
StreamingMovies: [0 1 2]
PaperlessBilling: [1 0]

In [367]:
#El campo de g茅nero de los clientes est谩 en ingl茅s, lo traducimos al espa帽ol
#df_telecomx['gender'] = ['Masculino' if x == 'Male' 'Femenino' elif x == 'Female' for x in df_telecomx['gender']]

In [368]:
#Comprobando diferentes resultados de la columna 'gender'
df_telecomx['gender'].unique()

array(['Female', 'Male'], dtype=object)

In [369]:
#Traduciendo la columna 'gender'
df_telecomx['gender'] = ['Masculino' if x == 'Male' else 'Femenino' for x in df_telecomx['gender']]

In [370]:
#Verificando los cambios
df_telecomx['gender'].unique()

array(['Femenino', 'Masculino'], dtype=object)

In [371]:
#Revisando los posibles valore de columnas que tambi茅n se encuentran en ingl茅s
print(df_telecomx['InternetService'].unique())
print(df_telecomx['Contract'].unique())
print(df_telecomx['PaymentMethod'].unique())

['DSL' 'Fiber optic' 'No']
['One year' 'Month-to-month' 'Two year']
['Mailed check' 'Electronic check' 'Credit card (automatic)'
 'Bank transfer (automatic)']

In [372]:
#Traduciendo estas columnas
df_telecomx['InternetService'] = df_telecomx['InternetService'].map({'DSL': 'DSL', 'Fiber optic': 'Fibra 贸ptica', 'No':'No'})
df_telecomx['Contract'] = df_telecomx['Contract'].map({'One year': 'Anual', 'Month-to-month': 'Mensual', 'Two year': 'Bienal'})
df_telecomx['PaymentMethod'] = df_telecomx['PaymentMethod'].map({'Mailed check': 'Cheque', 'Electronic check': 'Cheque electr贸nico', 'Credit card (automatic)':'TDC',
 'Bank transfer (automatic)':'Tranferencia electr贸nica'})

In [373]:
#Verificamos el dataframe
df_telecomx.head(3)

,customerID,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total
0,0002-ORFBO,0,Femenino,0,1,1,9,1,0,DSL,0,1,0,1,1,0,Anual,1,Cheque,65.6,593.3
1,0003-MKNFE,0,Masculino,0,0,0,9,1,1,DSL,0,0,0,0,0,1,Mensual,0,Cheque,59.9,542.4
2,0004-TLHLJ,1,Masculino,0,0,0,4,1,0,Fibra 贸ptica,0,0,1,0,0,0,Mensual,1,Cheque electr贸nico,73.9,280.85

In [374]:
#Definimos las columnas que vamos a convertir en int
columnas_a_int = ['Churn',
'SeniorCitizen',
'Partner',
'Dependents',
'PhoneService',
'MultipleLines',
'OnlineSecurity',
'OnlineBackup',
'DeviceProtection',
'TechSupport',
'StreamingTV',
'StreamingMovies',
'PaperlessBilling']

In [375]:
#Verificando el tipo de valores en las columnas
for x in columnas_a_int:
    print(df_telecomx[x].dtype)

int64
int64
int64
int64
int64
int64
int64
int64
int64
int64
int64
int64
int64

### 4) 'Charges.Total' deber铆a ser un 'float', no 'object'.

In [376]:
#Convirtiendo 'Charges.Total' a float
df_telecomx['Charges.Total'] = pd.to_numeric(df_telecomx['Charges.Total'], errors='coerce')

In [377]:
#Verificando el tipo de dato en 'Charges.Total'
df_telecomx['Charges.Total'].dtype

dtype('float64')

### 5) Se puede traducir al espa帽ol para  mejor comprensi贸n del dataset

In [378]:
#Creando diccionario para traducir los encabezados de las columnas

df_telecomx.rename(columns={
    "customerID": "id_cliente",
    "Churn": "cancelacion",
    "gender": "genero",
    "SeniorCitizen": "adulto_mayor",
    "Partner": "tiene_pareja",
    "Dependents": "tiene_dependientes",
    "tenure": "antiguedad",
    "PhoneService": "servicio_de_telefono",
    "MultipleLines": "lineas_multiples",
    "InternetService": "servicio_internet",
    "OnlineSecurity": "seguridad_en_linea",
    "OnlineBackup": "respaldo_en_linea",
    "DeviceProtection": "proteccion_dispositivo",
    "TechSupport": "soporte_tecnico",
    "StreamingTV": "streaming_tv",
    "StreamingMovies": "streaming_peliculas",
    "Contract": "periodicidad_de_contrato",
    "PaperlessBilling": "factura_electronica",
    "PaymentMethod": "forma_de_pago",
    "Charges.Monthly": "cargos_mensuales",
    "Charges.Total": "cargos_totales",
}, inplace=True)

## Columna de cuentas diarias

In [379]:
#Creando la nueva columna que representa los cargos diarios que se le hacen al cliente
df_telecomx['cargos_diarios'] = df_telecomx['cargos_mensuales'] / 30.44

In [380]:
df_telecomx.head(3)

,id_cliente,cancelacion,genero,adulto_mayor,tiene_pareja,tiene_dependientes,antiguedad,servicio_de_telefono,lineas_multiples,servicio_internet,seguridad_en_linea,respaldo_en_linea,proteccion_dispositivo,soporte_tecnico,streaming_tv,streaming_peliculas,periodicidad_de_contrato,factura_electronica,forma_de_pago,cargos_mensuales,cargos_totales,cargos_diarios
0,0002-ORFBO,0,Femenino,0,1,1,9,1,0,DSL,0,1,0,1,1,0,Anual,1,Cheque,65.6,593.30,2.155059
1,0003-MKNFE,0,Masculino,0,0,0,9,1,1,DSL,0,0,0,0,0,1,Mensual,0,Cheque,59.9,542.40,1.967806
2,0004-TLHLJ,1,Masculino,0,0,0,4,1,0,Fibra 贸ptica,0,0,1,0,0,0,Mensual,1,Cheque electr贸nico,73.9,280.85,2.427727

#  Carga y an谩lisis

## An谩lisis Descriptivo

In [381]:
#An谩lisis exploratorio de los datos
df_telecomx.describe()

,cancelacion,adulto_mayor,tiene_pareja,tiene_dependientes,antiguedad,servicio_de_telefono,lineas_multiples,seguridad_en_linea,respaldo_en_linea,proteccion_dispositivo,soporte_tecnico,streaming_tv,streaming_peliculas,factura_electronica,cargos_mensuales,cargos_totales,cargos_diarios
count,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7032.000000,7043.000000
mean,0.265370,0.162147,0.483033,0.299588,32.371149,0.903166,0.615505,0.720006,0.778220,0.777226,0.723555,0.817691,0.821241,0.592219,64.761692,2283.300441,2.127519
std,0.441561,0.368612,0.499748,0.458110,24.559481,0.295752,0.656039,0.796885,0.778472,0.778826,0.795896,0.763212,0.761725,0.491457,30.090047,2266.771362,0.988504
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,18.250000,18.800000,0.599540
25%,0.000000,0.000000,0.000000,0.000000,9.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,35.500000,401.450000,1.166229
50%,0.000000,0.000000,0.000000,0.000000,29.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,70.350000,1397.475000,2.311104
75%,1.000000,0.000000,1.000000,1.000000,55.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,89.850000,3794.737500,2.951708
max,1.000000,1.000000,1.000000,1.000000,72.000000,1.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,1.000000,118.750000,8684.800000,3.901117

In [397]:
#Revisando el promedio de las columnas de cargos 
promedio_cmensuales = df_telecomx['cargos_mensuales'].mean()
promedio_ctotales = df_telecomx['cargos_totales'].mean()
promedio_cdiarios = df_telecomx['cargos_diarios'].mean()

print(f'El promedio de los cargos mensuales es de: ${promedio_cmensuales:.2f}')
print(f'El promedio de los cargos totales es de: ${promedio_ctotales:.2f}')
print(f'El promedio de los cargos diarios es de: ${promedio_cdiarios:.2f}')

El promedio de los cargos mensuales es de: $64.76
El promedio de los cargos totales es de: $2283.30
El promedio de los cargos diarios es de: $2.13

In [398]:
#Revisando la mediana de las columnas de cargos 
mediana_cmensuales = df_telecomx['cargos_mensuales'].median()
mediana_ctotales = df_telecomx['cargos_totales'].median()
mediana_cdiarios = df_telecomx['cargos_diarios'].median()

print(f'La mediana de los cargos mensuales es de: ${mediana_cmensuales:.2f}')
print(f'La mediana de los cargos totales es de: ${mediana_ctotales:.2f}')
print(f'La mediana de los cargos diarios es de: ${mediana_cdiarios:.2f}')

La mediana de los cargos mensuales es de: $70.35
La mediana de los cargos totales es de: $1397.47
La mediana de los cargos diarios es de: $2.31

In [399]:
#Revisando el desviaci贸n est谩ndar de las columnas de cargos 
desvest_cmensuales = df_telecomx['cargos_mensuales'].std()
desvest_ctotales = df_telecomx['cargos_totales'].std()
desvest_cdiarios = df_telecomx['cargos_diarios'].std()

print(f'La desviaci贸n est谩ndar de los cargos mensuales es de: ${desvest_cmensuales:.2f}')
print(f'La desviaci贸n est谩ndar de los cargos totales es de: ${desvest_ctotales:.2f}')
print(f'La desviaci贸n est谩ndar de los cargos diarios es de: ${desvest_cdiarios:.2f}')

La desviaci贸n est谩ndar de los cargos mensuales es de: $30.09
La desviaci贸n est谩ndar de los cargos totales es de: $2266.77
La desviaci贸n est谩ndar de los cargos diarios es de: $0.99

# Informe final